# Default config:
[API]
    ListenPort = ""

[DATABASE]
    User = ""
    Password = ""
    Host = ""
    Port =
    Name = ""
    SslMode = ""
    MaxConns = 

[FILES]
    TempFolder = ""

[ESTUARY]
    UploadEndpoint = ""
	Token = ""